@model ProfileManager.Entities.Employee
@{
    ViewData["Title"] = "Verify";
}

<h2>Verify</h2>

<div class="row">
    <div class="col-md-6">
        <h2>Live</h2>
        <p>Use your webcam and snap a pic to validate against known users, or upload a photo to check. </p>
        <div id="live-container">
            <video id="live-video">Video stream not available.</video>
            <button id="startbutton" class="live-snapshot-button">Take photo</button>
            <canvas id="canvas" class="live-canvas"></canvas>
            <div class="output">
                <img id="photo" alt="The screen capture will appear in this box.">
            </div>
        </div>
        <form asp-action="VerifyLive" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" id="photoB64" name="photoB64" />
                <input type="submit" value="Check!" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Upload</h2>
        <form asp-action="Verify" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Profile photo</label>
                <input type="file" class="form-control" name="photoFile" />
            </div>
            <div class="form-group">
                <input type="submit" value="Check!" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        // neat! see here: https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API/Taking_still_photos
        (function () {
            var width = 320;    // We will scale the photo width to this
            var height = 0;     // This will be computed based on the input stream

            var streaming = false;

            var video = null;
            var canvas = null;
            var photo = null;
            var startbutton = null;
            var photoDataToSubmit = null;

            function startup() {
                video = document.getElementById('live-video');
                canvas = document.getElementById('canvas');
                photo = document.getElementById('photo');
                startbutton = document.getElementById('startbutton');
                photoDataToSubmit = document.getElementById("photoB64");

                navigator.mediaDevices.getUserMedia({ video: true, audio: false })
                    .then(function (stream) {
                        video.srcObject = stream;
                        video.play();
                    })
                    .catch(function (err) {
                        console.log("An error occurred! " + err);
                    });

                video.addEventListener('canplay', function (ev) {
                    if (!streaming) {
                        height = video.videoHeight / (video.videoWidth / width);

                        video.setAttribute('width', width);
                        video.setAttribute('height', height);
                        canvas.setAttribute('width', width);
                        canvas.setAttribute('height', height);
                        streaming = true;
                    }
                }, false);

                startbutton.addEventListener('click', function (ev) {
                    takepicture();
                    ev.preventDefault();
                }, false);
                clearphoto();
            }

            function clearphoto() {
                var context = canvas.getContext('2d');
                context.fillStyle = "#AAA";
                context.fillRect(0, 0, canvas.width, canvas.height);

                var data = canvas.toDataURL('image/png');
                photo.setAttribute('src', data);
            }

            function takepicture() {
                var context = canvas.getContext('2d');
                if (width && height) {
                    canvas.width = width;
                    canvas.height = height;
                    context.drawImage(video, 0, 0, width, height);

                    var data = canvas.toDataURL('image/png');
                    photo.setAttribute('src', data);
                    photoDataToSubmit.setAttribute("value", data);
                } else {
                    clearphoto();
                }
            }
            // Set up our event listener to run the startup process
            // once loading is complete.
            window.addEventListener('load', startup, false);
        })();
    </script>
}